img {
	max-width:550px;
	height:inherit;
	width:expression(document.body.clientWidth>550?"550px""auto");/*若圖片大於550px就調整*/
	overflow:hidden;      /*超過不顯示*/

	/*外框*/
	border:1px solid #999;
	padding:5px;
	background:#efefef;
	
}

.main {
	/*font-size: 20px;*/
	border:1px solid #999;
	padding:5px;
	background:pink;
	overflow: hidden;
}


